
body {
	background-color: #232323;
	margin: 0;
	font-family: 'Livvic', sans-serif;
}

h1 {
	background-color: steelblue;
	text-align: center;
	color: white;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

button {
	font-family: 'Livvic', sans-serif;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#container {
	margin: 20px auto;
	max-width: 600px;

}

#targetColor {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

.selected {
	color: white;
	background: steelblue;
}

.colorSquare {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

